<div class="configurator md:rounded-4xl h-full w-full overflow-hidden bg-gray-100">
  <div class="h-[calc(100%-6rem)] pt-10 md:pt-8">
    <app-configurator-header></app-configurator-header>

    <div class="flex h-[calc(100%-6rem)] flex-col overflow-y-auto px-4 pb-16 text-left md:px-10">
      <h2 class="font-semibold text-xl mb-3">Energy usage</h2>

      <div class="flex flex-col w-full mb-3">
        <label for="contract-type-input" class="font-semibold mb-1"
        >Contract type</label
        >
        <select name="contract-type" id="contract-type-input">
          <option value="electricity">Electricity</option>
          <option value="gas">Gas</option>
          <option value="both">Both</option>
        </select>
      </div>

      <div class="flex flex-col w-full">
        <label for="has-solar-panels-input" class="font-semibold mb-1">
          <input id="has-solar-panels-input" type="checkbox" />
          I have solar panels
        </label>
      </div>

      <hr class="border bg-gray-200 my-6" />

      <div class="flex flex-col w-full mb-3">
        <label for="energy-usage-input" class="font-semibold mb-1"
        >Energy usage</label
        >
        <input
          id="energy-usage-input"
          class="border border-2 border-primary-400 h-12 w-full rounded-lg"
        />
      </div>

      <div class="flex flex-col w-full mb-3">
        <label for="gas-usage-input" class="font-semibold mb-1">Gas usage</label>
        <input
          id="gas-usage-input"
          class="border border-2 border-primary-400 h-12 w-full rounded-lg"
        />
      </div>

      <div class="flex flex-col w-full mb-3">
        <label for="yearly-yield-input" class="font-semibold mb-1"
        >Yearly yield in kWh</label
        >
        <input
          id="yearly-yield-input"
          class="border border-2 border-primary-400 h-12 w-full rounded-lg"
        />
      </div>
    </div>

    <app-configurator-footer></app-configurator-footer>
  </div>
</div>
